.payment-card{
  /* Rectangle 10: */
  background: #FFFFFF;
  border: 1px solid #FFB98F;
  border-radius: 2px;

  display: inline-block;
  margin-left: 4px;
  margin-right: 6px;

  width: 114px;
  height: 104px;
  .amount{
    width: 114px;
    height: 104px - 36px;
    line-height: 104px - 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }
  .type{
    width: 114px;
    height: 36px;
    line-height: 36px;
    /* Rectangle 10: */
    background: #FF8C42;
    border-radius: 0 0 2px 2px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;

    .type-icon{
      margin-right: 4px;
    }
  }
}