.so-block{
  padding: 25px 23px;

  .title{
    height: 28px;
    text-align: left;
    .icon{
      //float: left;
      margin-right: 6px;
    }
    .label{
      text-align: left;
    }
  }

  .content{

  }
}